* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}

h1 {
    text-align: center;
    background-color:blue;
    color: white;
}

.five-day {
    list-style-type: none;
    color: white;
    background-color: navy;
    display: flex;
    justify-content: space-evenly;
}

ul {
    list-style-type: none;
}
.low{
    background-color:green;
}
.moderate{
    background-color:yellow;
}
.high{
    background-color:orange;
}
.veryhigh{
    background-color:red;
}
.extreme{
    background-color:purple;
}